* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(165, 213, 255);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 1rem 9%;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 100;
    background-color: rgb(255, 255, 255);
}

.navbar a {
    font-size: 1.5rem;
    color: black;
    margin-left: 2rem;
    font-weight: bold;
    transition: 1s;
}

.navbar a:hover {
    color: blue;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    font-size: 2.2rem;
    font-weight: 700;
}

.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p {
    font-size: 1.6rem;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    border-radius: 50%;
    height: 4rem;
    background-color: transparent;
    font-size: 2rem;
    margin: 2rem 1.5rem 2rem 0;
}

.social-media a:hover {
    color: black;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: brown;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: black;
    background-color: antiquewhite;
    border-radius: 5rem;
    font-size: medium;
    letter-spacing: 0.1rem;
    transition: 0.1 ease;
}

.btn:hover {
    background-color: black;
    color: white;
    box-shadow: 0 0 1rem black;
}

.home-img img {
    width: 20rem;
    margin-left: 1rem;
}

section {
    min-height: 100vh;
    padding:10rem 9% 2rem;
}
.about{
    display: flex;
    justify-content: center;
    gap: 2rem;
    align-items: center;
    background-color: white;
}
.about-img img{
    width: 30rem;
}
.heading{
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2{
    text-align: left;
    line-height: 1.2;
}
.about-content p{
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.services h2{
    margin:0 0 5rem 0;
}
.services-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.service-box{
    /* this means: flex:1 1 20rem; flex: <flex-grow> <flex-shrink> <flex-basis> */
    flex: 1 1 20rem;
    background-color: rgb(255, 255, 255);
    padding: 3rem 2rem 4rem;
    border-radius: 2rem;
    text-align: center;
    transition: 0.5s ease;
}
.service-box:hover{
    color:white;
    background-color: rgb(18, 92, 157);
    transform:scale(1.1);
}
.service-box i{
    font-size: 5rem;
    color: rgb(0, 0, 0);
}
.service-box h3{
    font-size: 1.6rem;

}
.service-box p{
    font-size: 0.9rem;
    margin: 1rem 0 3rem;
}
.portfolio{
    background-color: white;
}
.portfolio h2{
    margin-bottom: 4rem;
}
.portfolio-container{
    display: grid;
    grid-template-columns:repeat( 3,1fr );
    align-items: center;
    gap: 2.5rem;
}
.portfolio-box{
    position: relative;
    height: 100%;
    border-radius: 1rem;
    box-shadow: 0 0 1rem black;
    overflow: hidden;
    display: flex;
}
.portfolio-box img{
    width:100%;
    transition: 0.5s ease;
}
.portfolio-box:hover img{
    transform: scale(1.1);

}
.portfolio-layer{
    color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,0.1),black);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0.4rem;
    transform: translateY(100%);
    transition: 0.5s ease;

}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}
.portfolio-layer h4{
    font-size: 2rem;
}
.portfolio-layer p{
    font-size: 1rem;
    margin:0.3rem 0 1rem;
}
.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    background-color: white;
    border-radius: 50%;
}